.callouts { font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 12pt; }
.sublinx  { color: #000; font-size: 7pt; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif; line-height: 10px; text-decoration: none; }
.element { color: #000; font-size: 8pt; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif; line-height: 12px; }
#subnav { color: #191919; font-size: 8pt; font-family: Georgia, "Times New Roman", Times, serif; font-variant: normal; line-height: 10px; text-align: left; width: 152px; padding-left: 10px; }
#subnav a:link { color: #191919; font-size: 8pt; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif; line-height: 10px; text-decoration: none; }
#subnav a:hover { color: white; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif; text-decoration: none; }
#subnav a:visited { color: #464646; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif; text-decoration: none; }
.bodycopy { color: #000; font-size: 12pt; font-family: Georgia, "Times New Roman", Times, serif; line-height: 12px; }
a:main { color: #ce0000; font-size: 9pt; font-family: georgia, times; text-decoration: none; }
a:visited_main { color: #575757; font-size: 9pt; font-family: serif, georgia, times; text-decoration: underline; }
/* footer */
#footer { color: #000; font: 12px/14px Georgia, "Times New Roman", Times, serif; text-align: right; position: absolute; width: 500px    ; height: 20px; }
#footer a { color: #ce0000; font-size: 12px; font-family: Georgia, "Times New Roman", Times, serif; font-style: normal; text-decoration: none; margin-right: 2px; margin-left: 2px    }
#footer a:hover { color: #999 ; font-size: 12px; font-family: Georgia, "Times New Roman", Times, serif; }
#footer a:visited { color: #999 ; font-size: 12px; }
.bodycopy { color: #000; font-size: 9pt; font-family: Georgia, "Times New Roman", Times, serif; line-height: 18px; }
.header { font-size: 16pt; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif; line-height: 20px; letter-spacing: 2pt; }
.quotes { font-size: 9pt; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif; line-height: 12px; }
a:link { color: #ce0000; font-size: 10pt; }
a:hover { color: #808080; text-decoration: none; }
a:visited { color: #575757; text-decoration: none; }
.discrip { font-size: 9pt; }
.subheads { font-size: 14pt; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 19px; }
#subsub { color: #fff; font-size: 7pt; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif; font-variant: normal; line-height: 11px; background-color: #878787; text-align: left; width: 145px; padding-left: 20px; }
#subsub a:link { color: #fff; font-size: 7pt; line-height: 11px; background-color: #878787; text-decoration: none; }
#subsub a:hover { color: #d2d2d2; text-decoration: none; }
#subnavhs { color: #5f1987; font-size: 8pt; font-family: Georgia, "Times New Roman", Times, serif; font-variant: normal; line-height: 11px; text-align: left; width: 150px; padding-left: 10px; }
#subnavhs a:link { color: #5f1987; font-size: 8pt; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif; line-height: 11px; text-decoration: none; }
#subnavhs a:hover { color: white; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif; text-decoration: none; }
.sublinks { font-size: 8pt; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif; }
.photodescriptions { color: #676767; font-size: 9pt; font-style: italic; }
#subsub a:visited { color: #cecece; }
.type { font-size: 11px; font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif; line-height: 15px; }
