/* Arial */
@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: url('arial/Arial.woff2') format('woff2');
}

/* Arial Italic */
@font-face {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  src: url('arial/Arial-Italic.woff2') format('woff2');
}

/* Arial Bold */
@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 600;
  src: url('arial/Arial-Bold.woff2') format('woff2');
}

/* Arial Bold Italic */
@font-face {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 600;
  src: url('arial/Arial-BoldItalic.woff2') format('woff2');
}
