/* Brandon Text Regular */
@font-face {
  font-family: 'Brandon Text';
  font-style: normal;
  font-weight: 400;
  src: url('brandontext/Brandon_txt_reg.woff2') format('woff2');
}

/* Brandon Text Italic */
@font-face {
  font-family: 'Brandon Text';
  font-style: italic;
  font-weight: 400;
  src: url('brandontext/Brandon_txt_reg_it.woff2') format('woff2');
}

/* Brandon Text Bold */
@font-face {
  font-family: 'Brandon Text';
  font-style: bold;
  font-weight: 700;
  src: url('brandontext/Brandon_txt_bld.woff2') format('woff2');
}

