@charset "UTF-8";
/* body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
/*	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
/*	color: #000000;
}
*/
.thrColFixHdr #container { 
	width: /*875px*/100%;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #FFFFFF;
	margin: 0px auto; /* the auto margins (in conjunction with a width) center the page */
		border-top: 1px solid #000000;
		border-right: 1px solid #333333;
		border-bottom: 1px solid #333333;
		border-left: 1px solid #000000;
/* border: 1px solid #000000;
	text-align: left; /* this overrides the text-align: center on the body element. */
} 
.thrColFixHdr #header { 
	background: #FFFFFF; 
	padding: 10px 10px 0 10px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
} 

.thrColFixHdr #statusBar { 
	background: #FFFFFF; 
	padding: 5px 10px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
} 

.thrColFixHdr #mainContent { 
	margin: 0 10px; /* the right and left margins on this div element creates the two outer columns on the sides of the page. No matter how much content the sidebar divs contain, the column space will remain. You can remove this margin if you want the #mainContent div's text to fill the sidebar spaces when the content in each sidebar ends. */
	padding: 0 10px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
}   

.thrColFixHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

/* a {
	color: #0166ff;
	text-decoration: none;
}

tr	{
	vertical-align: top;
	}
td	{
	text-align: center;
	vertical-align: top;
	}
*/
img { border: 0; }

#footer {
	/* background: transparent url('./images/bottom.jpg') no-repeat bottom left; */
	/* clear: both;
	/* padding: 0 10px 20px 20px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	padding: 0 10px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	text-align: center;
}
#footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 5px 10px; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
	text-align: center;
	color: #999999;
	font-size: small;
	border-top: 1px solid #999999;

}
